<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ asset('/') }}">
    </head>
    <style>
        .bg {
            color: #fe7a59;
        }
    </style>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div>
                    <p class="navbar-brand text-muted">
                        <span class="text-warning">Asis</span>Fashion </p>
                </div>
            </div>
        </div>
    </body>
</html>